body {
    color: var(--text-primary);
    height: 100vh;
}

.sidebar {
    flex: 0 0 300px;
    background-color: var(--bg-lightest);
    border-right: 1px solid black;
}

.title-bar {
    background-color: var(--bg-lighter);
    border-bottom: 1px solid black;
    padding: 10px;
    height: 67px;
}

.title-bar .title {
    height: 18px;
    font-size: 1.4rem;
    font-weight: bold;
}

.title-bar .subtitle {
    margin-left: 1px;
    color: var(--text-muted);
}

.messages-outer-box {
    height: calc(100vh - 140px);
}

.message-input-box {
    background-color: var(--bg-lighter);
    border-top: 1px solid black;
    padding: 10px 10px 0 10px;
    width: 100%;
}

.messages-box {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 1400px;
    margin: 0 auto;
}

#message-input {
    border: none;
    background-color: var(--bg-lighter);
    outline: none;
    color: #cccccc;
    resize: none;
    padding: 5px;
    width: calc( 100% - 50px ); 
    height: 36px;
    overflow-x: hidden;
    overflow-y: auto;
}

#message-send {
    border: none;
    background-color: transparent;
    transform: translate(10px, -12px);
}

.icon-btn img {
    filter: invert(100%);
    opacity: 0.2;
    height: 30px;
}

.icon-btn:hover img {
    opacity: 0.5;
}

.header {
    height: 70px;
    padding: 15px 5px;
}

.add-chat {
    flex: 0 0 40px;
}

.add-chat a img {
    height: 40px;
}

.app-title h1 {
    line-height: 40px;
    color: var(--text-muted);
    font-size: 1.7rem;
}

.chats {
    height: calc(100vh - 150px);
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.chats .col {
    padding: 0;
}

.chat {
    padding: 5px;
    width: 100%;
    margin: 0;
}

.chat:hover {
    background-color: var(--border-light);
    cursor: pointer;
}

.chat .chat-img-box {
    flex: 0 0 75px;
    padding: 7px 5px;
}

.chat-img {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    overflow: hidden;
}

.chat-img-sm {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    overflow: hidden;
}

.chat-text-box h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 2px 0;
}

.chat-text-box .chat-last-message-time {
    color: var(--text-muted);
}

.chat-text-box .chat-last-message {
    color: var(--text-muted);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    display: block;
}

.footer-menu {
    padding: 10px 5px;
}

.footer-menu a {
    margin: 0px 3px;
}

.message-container {
    width: 100%;
    margin: 10px auto 0 auto;
}

.message {
    background-color: var(--message-bg);
    padding: 10px 15px;
    margin-top: 2px;
    border-radius: 7px;
    width: fit-content;
    position: relative;
}

.icon-col {
    flex: 0 0 50px;
    padding: 0;
}

.my-message-col .message {
    background-color: var(--my-message-bg);
    margin-left: auto; 
    margin-right: 0;
}

.message-container-header {
    color: var(--message-header);
    font-size: 0.9rem;
    font-weight: bold;
}

.message p {
    margin: 0;
}

.message p::after {
    content: ' ';
    width: 50px;
    white-space: pre;
    display: inline-block;
}

.message .date {
    color: var(--text-very-muted);
    font-size: 0.95rem;
    position: absolute;
    bottom: 8px;
    right: 12px;
}

.my-message-col .message .date {
    color: var(--text-muted-my-message);
}

/*Overlay*/
.full-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.display-none {
    display: none;
}

.full-overlay .container {
    background-color: var(--bg-lightest);
    width: 80%;
    margin-top: 80px;
    min-height: 400px;
    padding: 20px;
    border-radius: 5px;
    overflow: auto;
}

.overlay-close {
    float: right;
}

.overlay-close .icon-btn img {
    transform: rotate(45deg);
}

.overlay-content {
    margin-top: 30px;
}

#invites-overlay .add-chat-form {
    max-width: 800px;
    margin: 20px auto;
}

#invites-overlay .add-chat-form form input {
    width: calc( 100% - 110px );
    display: inline;
    border: 1px solid var(--border-lighter);
}

#invites-overlay .add-chat-form form button {
    width: 90px;
    margin-left: 10px;
    display: inline;
}

.table-my-dark * {
    color: var(--text-muted);
    background-color: var(--bg-lighter) !important;
}

.received-invites .invite:last-child {
    margin-bottom: 20px;
}

.received-invites > h5 {
    margin-left: 18px;
    color: var(--text-primary);
}

.received-invites .invite {
    cursor: auto;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--border-light);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--border-lighter);
    border-radius: 5px;
}

/*Background gradients*/

.bg-gradient-0 {
    background: rgb(33, 33, 33);
    background: linear-gradient(135deg, rgb(40, 40, 40) 0%, rgb(16, 16, 16) 100%);
}

.bg-gradient-1 {
    background: rgb(0, 162, 195);
    background: linear-gradient(135deg, rgba(0, 162, 195, 1) 0%, rgba(17, 93, 161, 1) 100%);
}

.bg-gradient-2 {
    background: rgb(138, 81, 208);
    background: linear-gradient(135deg, rgba(138, 81, 208, 1) 0%, rgba(137, 17, 161, 1) 100%);
}

.bg-gradient-3 {
    background: rgb(255, 103, 103);
    background: linear-gradient(135deg, rgba(255, 103, 103, 1) 0%, rgba(147, 1, 1, 1) 100%);
}

.bg-gradient-4 {
    background: rgb(57, 161, 94);
    background: linear-gradient(135deg, rgba(57, 161, 94, 1) 0%, rgba(28, 66, 0, 1) 100%);
}

.bg-gradient-5 {
    background: rgb(224, 180, 0);
    background: linear-gradient(135deg, rgba(224, 180, 0, 1) 0%, rgba(223, 141, 0, 1) 100%);
}
