:root {
  --bg-dark: #202125;
  --bg-lighter: #252630;
  --bg-lightest: #282934;
  --border-light: #353640;
  --border-lighter: #404250;
  --text-primary: #dddddd;
  --text-muted: #bbbbbb;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--bg-dark);
}
.text-muted-light {
  color: #cccccc;
}
#passphraseCheckInput, #passphraseInput {
  background-color: var(--bg-lighter);
  outline: none;
  border: 1px solid #cccccc;
  color: #cccccc;
  resize: none;
  height: 100px;
}
.text-input-dark, .text-input-dark:focus {
  background-color: var(--bg-lighter);
  outline: none;
  border: 1px solid #cccccc;
  color: #cccccc;
}
.spinner-center {
  margin-left: calc(50% - 1rem);
}
.reset-app {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 350px;
}